---
import Layout from "../../layouts/Layout.astro";

import LMSMigrationHero from "../../components/lms/LMSMigrationHero.astro";
import LMSProblemSection from "../../components/lms/LMSProblemSection.astro";
import LMSAudienceSection from "../../components/lms/LMSAudienceSection.astro";
import LMSSourcesSection from "../../components/lms/LMSSourcesSection.astro";
import LMSMigrationLifecycle from "../../components/lms/LMSMigrationLifecycle.astro";
import LMSSetupCapabilities from "../../components/lms/LMSSetupCapabilities.astro";
import LMSPlatformAgnostic from "../../components/lms/LMSPlatformAgnostic.astro";
import LMSContentStandards from "../../components/lms/LMSContentStandards.astro";
import LMSLearnerExperience from "../../components/lms/LMSLearnerExperience.astro";
import LMSComparison from "../../components/lms/LMSComparison.astro";
import LMSEngagementTypes from "../../components/lms/LMSEngagementTypes.astro";
import LMSFAQ from "../../components/lms/LMSFAQ.astro";
import LMSFinalCTA from "../../components/lms/LMSFinalCTA.astro";

// SEO
const title = "LMS Implementation & Migration Services | TheEduAssist";
const description = "TheEduAssist helps creators, educators, training companies, academies, and businesses migrate, organize, and rebuild learning content from WordPress, Google Drive, PDFs, old LMS platforms, and scattered files into clean LMS and e-learning systems.";
---

<Layout title={title} description={description}>
  <main>
    <LMSMigrationHero />
    <LMSProblemSection />
    <LMSAudienceSection />
    <LMSSourcesSection />
    <LMSMigrationLifecycle />
    <LMSSetupCapabilities />
    <LMSPlatformAgnostic />
    <LMSContentStandards />
    <LMSLearnerExperience />
    <LMSComparison />
    <LMSEngagementTypes />
    <LMSFAQ />
    <LMSFinalCTA />
  </main>
</Layout>
